.container
  h1 About Us
  p CrispyMind is a company focused on IT and ITES service space with a fresh mind and deep pockets of experience. With the rapid growth in the last decade, IT and ITES industries have created ample job opportunities and there is a greater need for English speaking, Confident and Globally competitive talent to sustain the previously seen growth. Spotting this opportunity the founders of CrispyMind have come together to create a win-win situation for the industry, bridging the talent gap.

  h1 Founders
  p Founders are senior professionals and have a collective experience of over 75 years in the business.
  ul
    li Dynamic, Seasoned and Matured group of HealthCare Informatics professionals having experience in MNC’s as well as start ups
    li Experts in administration, workflow, process flow and management across Healthcare organizations
    li Hands on experience in:
      ul
        li Program and Project management
        li Product Design (Product Roadmap Design, Delivery and execution)
        li Technology and Delivery ( Software development life cycle )
        li QA/QC process-Quality Assurance and Control Processes
        li Implementation (Solution configuration, Deployment, Training, Change management and Hand-over to Operations)
        li Channel Partner Management and Business Development
        li Human Resource Management, talent acquisition and talent nurturing
