.container
  .row
    .span3
      h2 Office
      address
        p
          | # T35, 33rd A Cross, <br>
          | 16th Main, 4th T Block, Jayanagar, <br>
          | Bengaluru - 560 041 <br>
          abbr(title='Office phone') P:
          |  +91 80 4173 5034 <br>
          abbr(title='Email') E:
          a(href='mailto:info@crispymind.in')  info@crispymind.in
    .span9
      iframe(width='100%', height='550', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=T35,+33rd+Cross,+16th+Main,+4th+T+Block,+Jayanagar,+Bengaluru&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.460237,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=33rd+Cross+Rd,+4T+Block,+Jayanagar,+Bengaluru,+Bengaluru+Urban,+Karnataka,+India&amp;t=m&amp;ll=12.926478,77.587466&amp;spn=0.00732,0.00912&amp;z=16&amp;output=embed')
      p
        small
          a(href='https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=T35,+33rd+Cross,+16th+Main,+4th+T+Block,+Jayanagar,+Bengaluru&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.460237,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=33rd+Cross+Rd,+4T+Block,+Jayanagar,+Bengaluru,+Bengaluru+Urban,+Karnataka,+India&amp;t=m&amp;ll=12.926478,77.587466&amp;spn=0.00732,0.00912&amp;z=16" style="color:#0000FF;text-align:left') View Larger Map
