.container
  .row
    .span8
      iframe(width='740', height='480', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=T35,+33rd+Cross,+16th+Main,+4th+T+Block,+Jayanagar,+Bengaluru&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.460237,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=33rd+Cross+Rd,+4T+Block,+Jayanagar,+Bengaluru,+Bengaluru+Urban,+Karnataka,+India&amp;t=m&amp;ll=12.930075,77.588625&amp;spn=0.020077,0.027466&amp;z=15&amp;iwloc=A&amp;output=embed') <br>
      p
        small
          a(href='https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=T35,+33rd+Cross,+16th+Main,+4th+T+Block,+Jayanagar,+Bengaluru&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=40.460237,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=33rd+Cross+Rd,+4T+Block,+Jayanagar,+Bengaluru,+Bengaluru+Urban,+Karnataka,+India&amp;t=m&amp;ll=12.930075,77.588625&amp;spn=0.020077,0.027466&amp;z=15&amp;iwloc=A" style="color:#0000FF;text-align:left') View Larger Map
    .span4
      h2 Registered Office
      address
        p
          | # T35, 33rd A Cross, <br>
          | 16th Main, 4th T Block, Jayanagar, <br>
          | Bengaluru - 560 041 <br>
          abbr(title='Office phone') P:
          |  +91 80 4173 5034 <br>
          abbr(title='Email') E:
          a(href='mailto:info@crispymind.in')  info@crispymind.in
