.container
  .hero-unit
    h1 CrispyMind
    p A company focused on IT and ITES service space with a fresh mind and deep pockets of experience.
    p
      a.btn.btn-primary.btn-large(href='/about') Learn more &raquo;
