.container
  h1 Our Services

  ul
    li Domain Education
      ul
        li Healthcare Domain Training
        li Banking <Coming shortly>
        li Telecommunication <Coming shortly>
    li Human Resource Management Services and SoftSkill Development
    li Management Consultancy Services
      ul
        li IT and ITES Project Management
        li IT and ITES Process Review, Process Tailoring
    li Healthcare IT Services and Software Testing Services for Healthcare Products

  h1 Healthcare Domain Training
  p The trend in healthcare vertical with an enhanced focus on patient health record in the developed countries is very encouraging. India will also see a wide implementation of Electronic Health Records in the years to come. A sound understanding of the current state of healthcare, problems and opportunities will give the right perspective to IT and ITES professionals to join the vertical and bridge the knowledge gap. Knowledge of provider space (doctor) combined with payers (health insurance) covers the core spectrum of healthcare and is very essential for the professionals focused on providing healthcare software products and/or related services.
  p CrispyMind offers well designed courses on many healthcare domain topics including
    ul
      li Healthcare Training for the Payerside: Insurance sector, Federal Govt and Private health plans, Complexity of payer side transactions, HIPAA and Health Information Security and the information ex
      li Healthcare Training for the Providerside: From the time a patient enters a clinic/hospital until an insurance claim is filed
      li Healthcare Training for Software Testers: Software tester’s perspectives and must have information about various keywords of the healthcare industry
      li Healthcare Comprehensive: From patient entering a hospital until a claim is paid
    p In addition to the above, CrispyMind provides trainings on healthcare interoperability and ICD 9 to 10 migration assistance

  h1 Human Resource Management Services And Softskill Development
  p ITES setups have a huge attrition problem. Finding the right candidates and equipping them with appropriate skills is time consuming and expensive. CrispyMind offers comprehensive trainings for candidates aiming towards ITES.
    ul
      li Business English: By analyzing the gap between current skills of the person and the industry need we measure the readiness of the person. Depending on the results we orient the candidate to relevant training programs in business English
      li Email Etiquette:  This is a very important skill which is already lacking and further spoilt by SMS culture and has to be given highest importance. We provide Email etiquette training backed by abundant practical exposure to good email writing
      li Leadership: To think as a leader and accepting this path of life requires orientation and practice. We provide the frameworks required for resources to think as leaders and not just employees
      li Security and Confidentiality training: Business Process Outsourcing is not possible without trust. Security and Confidentiality are the foremost traits to be exhibited by winning teams. Our training specifically drives this point.
      li Process Training: Process Training are focused on maximizing productivity and reducing error rates significantly and are tailored based on organization’s needs
      li BPO Industry / Tele Marketing: Systematic introduction to BPO industry, opportunities career and growth in BPO.
      li Resource Evaluation: Resource Evaluation on a 10 point( to be defined) scale to ensure quality and trained resources are available for selection.

  h1 Healthcare IT Services and Software Testing Services for Healthcare IT Products
  p Healthcare IT faces a great shortage of resources trained in the domain. This need is more prominently seen on the software testing side for the reason that the products have to be thoroughly tested for functionality which is viewed from an end user perspective namely hospital staff in this case. Shortage of testing resources who are equipped with adequate functional knowledge. CrispyMind conducts healthcare domain training for the Software professionals addressing specifically the need of Software QA.

  h1 Healthcare IT Training for Hospital Staff
  p Hospitals are equipped with application software to capture various data such as patient information and billing. However, not all the staff are equally conversant with the features and operational workflows. CrispyMind trains the staff on the hospital IT environment and familiarizes them with international standards such as medical coding and their practical usage in their  operational workflows.

  h1 Healthcare IT training for Medical Students
  p CrispyMind provides healthcare IT training customized for Medical students. This training focuses on health insurance, software associated with hospitals and clinical workflow, integration between systems, medical coding and database management in healthcare.

  h1 Healthcare domain training for Student Software Professionals
  p Student software professionals who wish to focus on healthcare will gain from a strong foundational course on healthcare basics and IT in healthcare. This will cover the breadth of healthcare and healthcare IT and equip them with adequate knowledge to develop and test healthcare focused applications.
