@import url("http://fonts.googleapis.com/css?family=Actor");
@import url("http://fonts.googleapis.com/css?family=Signika");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
body {
  padding-top: 60px;
  font: 15px/22px 'Open Sans', 'Segoe UI', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Signika', 'Actor', sans-serif;
}
li {
  line-height: 22px;
}
