body {
  padding-top: 60px;
  font: 15px/22px 'Open Sans', 'Segoe UI', sans-serif;
  background-image: url("../images/background_white.jpg");
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', sans-serif;
  text-shadow: 1px 1px 0 #fff;
  color: #033649;
}
section {
  margin-bottom: 32px;
}
section.index {
  margin-left: 20px;
}
li {
  line-height: 22px;
}
.navbar .brand {
  padding: 8px 20px;
  font-size: 24px;
  font-weight: bold;
  color: #f0f0f0;
  text-shadow: 0 1px 0 #484848;
}
ul.nav a {
  font-size: 16px;
}
ul.nav i {
  margin-top: 5px;
}
div.hero-unit {
  background: none;
  border-radius: none;
  padding: 20px;
}
div.hero-unit img {
  margin-right: 30px;
}
div.hero-unit p {
  padding-top: 10px;
  text-align: justify;
}
img.profile {
  margin: 0 0 0 10px;
  box-shadow: 0 0 5px #aaa;
  width: 140px;
  height: 140px;
  border-radius: 10px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
